@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');


*{
    margin: 0;
    padding: 0;
}
html{
    scroll-behavior: smooth;
}
.nav{
    width: 100%;
    height:  80px;
    display: flex;
    flex-direction: row;
}

nav{
    display: flex;
    font-family: 'Roboto', sans-serif;
    height: 80px;
    width: 100%;
    background-color: rgb(69, 69, 255);
    align-items: center;
    justify-content: space-between;
    padding: 0 50px 0 100px;
    flex-wrap: wrap;
  }
  nav .logo{
    color: #fff;
    font-size: 35px;
    font-weight: 600;
    letter-spacing: 0.2vw;
  }
  nav .logo a{
      text-decoration: none;
      color: #fff;
  }
  nav ul{
    align-items: center;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    list-style: none;
  }
  nav ul li a span{
      color: black;
  }
  nav ul li{
    margin: 0 5px;
  }
  nav ul li a{
    font-family: 'Roboto', sans-serif;
    color: #f2f2f2;
    text-decoration: none;
    font-size: 18px;
    font-weight: 500;
    padding: 8px 15px;
    border-radius: 5px;
    letter-spacing: 1px;
    transition: all 0.3s ease;
  }
  nav ul li a.active,
  nav ul li a:hover{
    color: #111;
    background: #fff;
  }
  nav .menu-btn i{
    color: #fff;
    font-size: 22px;
    cursor: pointer;
    display: none;
  }
  input[type="checkbox"]{
    display: none;
  }
  @media (max-width: 1000px){
    nav{
      padding: 0 40px 0 50px;
    }
  }
  @media (max-width: 920px) {
    nav .menu-btn i{
      display: block;
    }
    #click:checked ~ .menu-btn i:before{
      content: "\f00d";
    }
    nav ul{
      position: fixed;
      top: 80px;
      left: -100%;
      background: #111;
      height: 100vh;
      width: 100%;
      text-align: center;
      display: block;
      transition: all 0.3s ease;
    }
    #click:checked ~ ul{
      left: 0;
    }
    nav ul li{
      width: 100%;
      margin: 40px 0;
    }
    nav ul li a{
      width: 100%;
      margin-left: -100%;
      display: block;
      font-size: 20px;
      transition: 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    }
    #click:checked ~ ul li a{
      margin-left: 0px;
    }
    nav ul li a.active,
    nav ul li a:hover{
      background: none;
      color: cyan;
    }
  }
  .content{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    z-index: -1;
    width: 100%;
    padding: 0 30px;
    color: #383bff;
  }
  .content div{
    font-size: 40px;
    font-weight: 700;
  }
  
.home{
    /* display: flex;
    flex-direction: row;
    flex-wrap: wrap; */
    width: 100%;
    background-image: url(img/homee.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    color: rgb(19, 19, 19);
}
.home h1{
    font-family: 'Roboto', sans-serif;
    font-size: 4vw;
    text-transform: capitalize;
    letter-spacing: 3px;
    padding: 40px;
    margin-top: 160px;
}
.home p{
    font-family: 'Roboto', sans-serif;
    font-size: 2vw;
    padding-left: 40px;
}
.right{
    width: 40%;
    padding: 70px;
}

@media screen and (max-width: 780px) {

    .right img{
        width: 280px; 
        margin-left: -50px; 
    }
    .home h1{
        font-family: 'Roboto', sans-serif;
        font-size: 8vw;

        line-height: 40px;
        letter-spacing: normal;
        margin-top: 20px;
        padding: 20px;
    }
    .home p{
        font-family: 'Roboto', sans-serif;
        font-size: 20px;
        padding-left: 20px;
    }
 
}

.btn{
    padding: 10px;
    border-radius: 12px;
    width: 140px;
    font-size: 20px;
    margin: 40px;
    border: none;
    background-color: #383bff;
    color: white;
    font-weight: bolder;
}
.btn:hover{
    opacity: 0.8;
    transition: 1s;
}
.btn a{
    text-decoration: none;
    color: white;
}
@media screen and (max-width: 760px) {
    .btn{
        margin: 20px;
    }
    
}

.orgs-22{
    
    width: 100%;
    height: 700px;
    margin: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: auto;
}
.cards-22{
    width: 270px;
    height: 100px;
    background-color: rgb(245, 244, 247);
    margin: auto;
    display: flex;
    margin-top: 20px;
    box-shadow: 2px 2px 10px rgb(49, 49, 49);
    border-radius: 10px;
}
.cards-22 .name h1{
    font-size: 20px;
    margin-top: 10px;
    text-align: center;
    font-family: 'Noto Sans JP', sans-serif;
    letter-spacing: 0.2vw;
    color: #202020;
  
}
.cards-22 .name p{
    font-size: 13px;
    padding: 10px;
    text-align: center;
    font-family: 'Noto Sans JP', sans-serif;
    letter-spacing: 0.2vw;
    text-transform: uppercase;
    font-weight: 750;
    line-height: 15px;

  
}
.cards-22 .img img{
    padding: 4px;
    border-radius: 10px;
}
.container-tgs{
    width: 50%;
    height: max-content;
    margin: auto;
    background: white;
    border: 1px solid black;
    border-radius: 40px;
    box-shadow: 5px 5px 30px rgb(122, 122, 122);
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Roboto', sans-serif;
}
.name h1{
    color: rgb(41, 41, 41);
    text-align: center;
    font-size: 4vw;
    margin-top: 30px;
}
#tgs-logo{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 15vw;
    margin-left: 300px;
}
.about h1{
    color: rgb(41, 41, 41);
    text-align: left;
    padding: 30px;
    font-size: 2vw;
    margin-top: 30px;
    font-family: 'Roboto', sans-serif;
}
.about p{
    color: rgb(41, 41, 41);
    text-align: left;
    padding: 30px;
    font-size: 2vw;

}
.services-tgs h1{
    color: rgb(41, 41, 41);
    text-align: left;
    padding: 30px;
    font-size: 2vw;
    text-transform: uppercase;

}
.services-tgs p{
    color: rgb(41, 41, 41);
    text-align: left;
    padding: 30px;
    font-size: 2vw;

}
.Benifits-tgs h1{
    color: rgb(41, 41, 41);
    text-align: left;
    padding: 30px;
    font-size: 2vw;
    text-transform: uppercase;

}
.Benifits-tgs p{
    color: rgb(41, 41, 41);
    text-align: left;
    padding: 30px;
    font-size: 2vw;

}
.apply{
    display: flex;
    flex-direction: column;
    margin: auto; 
}
.butt-tgs{
    margin: 50px;
    padding: 10px;
    cursor: pointer;
    border-radius: 15px;
    border: none;
    background-color: rgb(102, 50, 255);
    color: rgb(255, 255, 255);

    margin-top: -20px;
    width: 150px;
    text-transform: uppercase;
    font-size: 15px;
}
.butt-tgs:hover{
    opacity: 0.8;
}
#about-tgs{
    text-align: center;
    font-size: 6vw;
    letter-spacing: 0.7vw;
    color: rgb(43, 25, 94);
}
#icon{
    padding: 20px;
    position: fixed;
    color: black;
}
.container-tcg{
    width: 50%;
    height: max-content;
    margin: auto;
    background: white;
    border: 1px solid black;
    border-radius: 40px;
    box-shadow: 5px 5px 30px rgb(122, 122, 122);
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Roboto', sans-serif;
}



@media screen and (max-width:768px) and (min-width:481px){
    .container-tgs{
        width: 80%;
        height: max-content;
        box-shadow: 5px 5px 30px rgb(122, 122, 122);
        margin-top: 10px;

    }
    .about h1{
        font-size: 6vw;

    }
    .name h1{

        font-size: 7vw;
        color: rgb(41, 41, 41);

        text-align: center;
        font-size: 10vw;
        margin-top: 30px;
    }
    .about-tgs{
        color: rgb(0, 0, 48);
    }
    .about h1{
        color: rgb(41, 41, 41);

        font-family: r;
        text-align: left;
        padding: 30px;
        font-size: 5vw;
        margin-top: 30px;
    }
    .about p{
        font-size: 3vw;
    
    }
    .services-tgs h1{
        font-size: 6vw;
    }
    .services-tgs p{
        font-size: 3vw;
    }
    .Benifits-tgs h1{
        font-size: 6vw;
    
    }
    .Benifits-tgs p{
        font-size: 3vw;
    }
    .logo-teenternz{
        width: 90%;
        height: 200px;
        display: flex;    
        margin: auto
    }
    .logo-teenternz img{
        margin: auto
    }
    .main-image{
        display: none;
    }
    
}

.flex-baby{
    display: flex;
 margin: auto;
    width: 40vw;
    height: max-content;
    flex-direction: column;
    margin-top: 0;
}
.txt-alien h1{
    text-align: center;
    color: rgb(10, 0, 56);
    font-family: 'Patrick Hand', cursive;
    text-align: center;
    font-size: 5vw;
    margin-top: 0;
    letter-spacing: 0.5vw;
}
.IMG img{
  padding: 100px;
  width: 40vw;
}
.flex-s{
    display: none;
}
.events h1{
    font-family: 'Roboto', sans-serif; 
    font-size: 50px;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 5px;
    margin-top: 30px;
}

.events p{
    font-family: 'Roboto', sans-serif; 
    font-size: 20px;
    text-align: center;
    margin-top: 20px;
}
.event-card{
    width: 350px;
    height: 380px;
    background: rgb(255, 255, 255);
    margin: auto;
    border-radius: 20px;
    box-shadow: 2px 2px 10px gray;
    font-family: 'Roboto Mono', monospace;
}
.event-card img{
    border-radius: 20px;
}
.date-time p{
    padding: 10px;
}
.btn-2{
    padding: 7px;
    border-radius: 8px;
    width: 120px;
    font-size: 12px;
    margin: 5px;  
    border: none;
    background-color: #4447ff;
    color: white;
    font-weight: bold;
}
.btn-2 a{
    text-decoration: none;
    color: white;
}
.ex h1{
    font-family: 'Roboto', sans-serif; 
    font-size: 50px;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 5px;
    margin-top: 30px; 
}
.card{
    padding: 20px;
    width: 330px;
    height: 330px;
    background: rgb(255, 255, 255);
    margin: auto;
    border-radius: 20px;
    box-shadow: 2px 2px 10px gray;
    font-family: 'Roboto Mono', monospace;

}
.card img{
    border-radius: 20px;
}

.cards{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    margin-top: 20px;
}

@media screen and (max-width: 760px) {
    .card{
        margin-top: 30px;
    }
}
