.gredientAnimation {
  transform: rotate(45deg);
  color:transparent;
  background: linear-gradient(270deg,#6fb2ff,#3fffdc,#8df840,#ff8181, #be6fff, #6fb2ff);
  animation:rainbow 60s linear infinite;
  background-size: 60% 100%;
  background-clip:text;
}
@keyframes rainbow{
  0%{background-position-x:0}
  to{background-position-x:10240px}
}