.gredientTextLight {
  background: linear-gradient(to right, #089db1, #b301b3);
  background-clip: text;
  color:  transparent;
}
.gredientTextDark {
  background: linear-gradient(to right, #25bbcf, #e022e0);
  background-clip: text;
  color:  transparent;
}