.gredientTextLight {
  background: linear-gradient(to right, #00aac0, #c200c2);
  background-clip: text;
  color:  transparent;
}
.gredientTextDark {
  background: linear-gradient(to right, #25bbcf, #e022e0);
  background-clip: text;
  color:  transparent;
}