.NavbarItems {
  position: relative;
}

.nav-menu {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: screen;
  background-color: white;
  position: absolute;
  top: 60px;
  left: -100%;
  opacity: 1;
  transition: all 0.5s ease;
}

.nav-menu.active{
  left: 0;
  opacity: 1;
  transition: all 0.5s ease;
  z-index: 1;
}

.nav-links{
  text-align: center;
  width: 100%;
  display: table;
}


.menu-icon{
  display: block;
  position: absolute;
  top: 0;
  right: 40px;
  transform: translate(100%, 60%);
}

.nav-links-mobile{
  display: block;
  text-align: center;
  text-decoration: none;
}